.config/tmux/plugins/
.config/gtk-3.0/bookmarks
.scripts/monitor-setup.sh
.dotfiles-settings
.scripts/.last-clean-download-run
logs/
.Xresources

# ignore repos specific jj config
.config/jj/repos/*

# vesktop
.config/vesktop/session_data/
.config/vesktop/Crashpad/client_id
.config/vesktop/SingletonCookie
.config/vesktop/SingletonLock
.config/vesktop/SingletonSocket
.config/vesktop/sessionData/
.config/vesktop/Cache/
.config/vesktop/GPUCache/
.config/vesktop/Local Storage/
.config/vesktop/IndexedDB/
.config/vesktop/state.json
