.config/tmux/plugins/
.config/gtk-3.0/bookmarks
.scripts/monitor-setup.sh
.dotfiles-settings
.scripts/.last-clean-download-run
logs/
.Xresources

# vesktop
vesktop/session_data/
vesktop/Cache/
vesktop/GPUCache/
vesktop/Local Storage/
vesktop/IndexedDB/
